<div class="content">
  <md-card>
    <md-card-title>Login</md-card-title>
    <md-card-content>
      <form [formGroup]="loginFormGroup" novalidate (ngSubmit)="login(loginFormGroup.value)">
        <table style="width: 100%">
          <tr>
            <td>
              <md-input style="width: 100%" placeholder="Login" type="text" formControlName="username"></md-input>
            </td>
          </tr>
          <tr>
            <td>
              <md-input style="width: 100%" placeholder="Password" type="password" formControlName="password"></md-input>
            </td>
          </tr>
          <tr>
            <td>
              <md-card-actions>
                <button md-raised-button type="submit" style="width: 100%" color="primary">Login</button>
              </md-card-actions>
            </td>
          </tr>
        </table>
      </form>
    </md-card-content>
  </md-card>
</div>
