<md-sidenav-layout fullscreen>
  <md-sidenav #start>
    <md-nav-list>
      <a md-list-item [routerLink]="['login']">Login</a>
      <a md-list-item [routerLink]="['app']">App</a>
      <a md-list-item [routerLink]="['test']">Test Module</a>
    </md-nav-list>
    <button md-button (click)="start.close()">CLOSE</button>
  </md-sidenav>
  <div>
    <md-toolbar>
      <button md-icon-button (click)="start.open()">
        <md-icon class="md-24" >menu</md-icon>
      </button>
      <div>
        <h2>minimean</h2>
      </div>
      <span style="flex: 1 1 auto"></span>
      <button md-icon-button (click)="_authService.logOut()">
        <md-icon class="md-24">exit_to_app</md-icon>
      </button>
    </md-toolbar>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-layout>
